@import url(https://fonts.googleapis.com/css?family=Bangers);

$background: #151469;
$def-color: #f0f0f0;
$footer-color: #000;
$game-board-height: 50%;
$game-board-width: 50%;
$game-box-height: $game-board-height / 3;
$game-box-width: $game-board-width / 3;
$red: #f00;
$white: #fff;
$box-hover: #c3dfe8;

body {
  background-color: $background;
  color: $def-color;
  font-family: 'Bangers', cursive;
  font-size: 14px;
}

.winner {
  color: $red;
  font-size: 2em;
  text-align: center;
  text-shadow: -1.5px 0 $white, 0 1.5px $white, 1.5px 0 $white, 0 -1.5px $white;
}

#container {
  margin: auto;
  max-width: 1080px;
  min-height: 600px;
}

.title {
  font-size: 2em;
  text-align: center;
}

.currentgame {
  font-size: 1.5em;
  margin: 0 auto;
  padding: 1em;
}

.score {
  float: right;
  padding-right: 2em;
}

.turn {
  float: left;
  padding-left: 2em;
}

button {
  background-color: $red;
  border-radius: 3px;
  border: 3px solid $red;
  color: $white;
  cursor: pointer;
  font-family: 'Bangers', cursive;
  font-size: 1.7em;
  font-weight: 1.2em;
  padding: .6em;
  position: relative;
  text-align: center;
  transition: all .2s ease-in-out;
}

#gameboard {
  border: 2px solid $red;
  clear: both;
  margin: 1em auto;
  min-height: 313px;
  text-align: center;
  width: 463px;
}

.box {
  border-radius: 3px;
  border: 2px solid $red;
  color: $white;
  float: left;
  font-size: 5em;
  font-weight: bold;
  height: 100px;
  text-align: center;
  width: 150px;
}


footer {
  background-color: $footer-color;
  font-size: 1.5em;
  margin-top: .6em;
  padding: .6em;
  text-align: center;
}

strong {
  color: $red;
  font-size: 1.4em;
}

.box:hover {
  background-color: $box-hover;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  color: $white;
}

small {
  color: $red;
}
