@import url(https://fonts.googleapis.com/css?family=Bangers);
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


$background: #151469;
$def-color: #f0f0f0;
$footer-color: #000;
$game-board-height: 50%;
$game-board-width: 50%;
$game-box-height: $game-board-height / 3;
$game-box-width: $game-board-width / 3;
$red: #f00;
$white: #fff;
$box-hover: #878787;

body {
  background-color: $background;
  color: $def-color;
  font-family: 'Bangers', cursive;
  font-size: 14px;
}

.navbar-brand {
    border-radius: 2px;
    border: 1px solid $background;
    margin-left: 1em;
}

nav {
  padding-top: .3em;
  text-align: center
}

.sign-in1,
.sign-out1,
.change-password1,
.sign-up1 {
  color: $footer-color;
  font-size: 1.5em;
  margin-left: .5em;
  margin-right: .5em;
}

p,
h4 {
  color: $footer-color;
}

.winner {
  color: $red;
  font-size: 2em;
  text-align: center;
  text-shadow: -1.5px 0 $white, 0 1.5px $white, 1.5px 0 $white, 0 -1.5px $white;
}

.gameCount {
  background-color: #801CE8;
  color: $white;
  float: right;
  font-size: 1.5em;
  text-align: center;
  margin-top: 2em;
  margin-right: 5em;
}

.reset {
  background-color: $red;
  border-radius: 3px;
  border: 3px solid $red;
  color: $white;
  cursor: pointer;
  font-family: 'Bangers', cursive;
  font-size: 1.7em;
  font-weight: 1.2em;
  margin-left: 1em;
  padding: .6em;
  position: relative;
  text-align: center;
  transition: all .2s ease-in-out;
}

.container {
  margin: auto;
  max-width: 1080px;
  min-height: 600px;
}

.title {
  font-size: 2em;
  text-align: center;
}

.currentgame {
  font-size: 1.5em;
  margin: 0 auto;
  padding: 1em;
}

.score {
  float: right;
  padding-right: 2em;
}

.turn {
  float: left;
  padding-left: 2em;
}


.gameboard {
  border: 2px solid $red;
  clear: both;
  height: 305px;
  margin: 1em auto;
  text-align: center;
  width: 455px;
}

.box {
  border-radius: 3px;
  border: 2px solid $red;
  color: $white;
  float: left;
  font-size: 5em;
  font-weight: bold;
  height: 100px;
  text-align: center;
  width: 150px;
}

button {
  background-color: #fff;
  border-color: #ccc;
  border-radius: 4px;
  display: inline-block;;
  margin-bottom: 0;
  text-align: center;
  padding: 6px 12px;
  vertical-align: middle;
  overflow: visible;
  white-space: nowrap;
  border: 1px solid transparet;
  font-size: 1.4em;
}

footer {
  background-color: $footer-color;
  font-size: 1.5em;
  margin-top: .6em;
  padding: .6em;
  text-align: center;
  color: $white;
}

strong {
  color: $red;
  font-size: 1.4em;
}

.box:hover {
  background-color: $box-hover;
  cursor: pointer;
}

.reset:hover {
  background-color: transparent;
  color: $white;
}

.sign-in:hover {
    background-color: $box-hover;
}

small {
  color: $red;
}
